<div class="splash">
    <div class="blend-tint"></div>
    <div class="overlay-tint"></div>
    <div class="gamebuino"><div class="screen"></div></div>
    <div class="pygamer"><div class="screen"></div></div>
    <div class="torches">
        <div class="torch torch1"></div>
        <div class="torch torch2"></div>
        <div class="torch torch3"></div>
    </div>
</div>

<div class="team">
    <div class="member max"><span class="name">max</span></div>
    <div class="member steph"><span class="name">steph</span></div>
    <div class="member titi"><span class="name">titi</span></div>
</div>