<div class="splash">
    <div class="blend-tint"></div>
    <div class="overlay-tint"></div>
    <div class="gamebuino"><div class="screen"></div></div>
    <div class="pygamer"><div class="screen"></div></div>
    <div class="torches">
        <div class="torch torch1"></div>
        <div class="torch torch2"></div>
        <div class="torch torch3"></div>
    </div>
</div>

<div class="team">
    {% for author in site.data.authors %}
        <div class="member" style="background-image:url('{{ site.baseurl | append: author.photo }}')"><span class="name">{{ author.nick }}</span></div>
    {% endfor %}
</div>