<div class="splash">

    <div class="blend-tint"></div>
    <div class="overlay-tint">
        {% include splash-code.html %}
    </div>

    <div class="about">
        <div class="team">
            <div class="member"><div class="photo"><img src="/assets/images/max.jpg" alt="Max"/></div>max</div>
            <div class="member"><div class="photo"><img src="/assets/images/steph.jpg" alt="Steph"/></div>steph</div>
            <div class="member"><div class="photo"><img src="/assets/images/thierry.jpg" alt="Titi"/></div>titi</div>
        </div>
        <div class="quote">
            <p>"The only way to win the game is not to play"</p>
            <p class="author">Kevin Flynn</p>
        </div>
    </div>

    <div class="torches">
        <div class="torch torch1" style="left:658px;top:312px;"></div>
        <div class="torch torch2" style="left:754px;top:440px;"></div>
        <div class="torch torch3" style="left:1106px;top:328px;"></div>
    </div>
</div>