// -------------------------------------------------------------------------
// constantes globales
// -------------------------------------------------------------------------

$frame_width:      1180px;
$topbar_height:      60px;
$sidebar_width:     300px;
$footer_height:      40px;
$splash_height:     480px;
$sidebar_bgcolor:  #ddd;
$page_bgcolor:  #e8e8e8;
$page_text_color:  #666;