// -------------------------------------------------------------------------
// constantes globales
// -------------------------------------------------------------------------

$frame_width:     1180px;
$topbar_height:   60px;
$sidebar_width:   300px;
$footer_height:   40px;
$splash_height:   480px;
$sidebar_bgcolor: #ddd;

$page_bgcolor:    #e8e8e8;
$page_text_color: #666;
$page_link_color: #6532ff;

$metadata_type_color:     #a00;
$metadata_platform_color: #333;
$metadata_lang_color:     #08d;
$metadata_tag_color:      #01999e;