// -------------------------------------------------------------------------
// les consoles de jeux pour les démos
// -------------------------------------------------------------------------

article.page .body .gamebuino {
    $w: 856;
    $h: 462;
    $sx: 273;
    $sy: 94;
    $sw: 320;
    $sh: 256;

    margin: 1.75rem auto;
    width: 100%;
    max-width: 428px;

    .console {
        position: relative;
        margin: 0 auto;
        padding-top: percentage($h/$w);

        background-image: url('../images/gamebuino-856x462.png');
        background-size: contain;
        background-repeat: no-repeat;
        filter: drop-shadow(0 4px 8px rgba(#000, .5));

        .screen {
            position: absolute;
            left: percentage($sx/$w);
            top: percentage($sy/$h);
            width: percentage($sw/$w);
            height: percentage($sh/$h);
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid #000;
        }
    }
}

article.page .body .pygamer {
    $w: 777;
    $h: 457;
    $sx: 249;
    $sy: 101;
    $sw: 280;
    $sh: 224;

    margin: 1.75rem auto;
    width: 100%;
    max-width: 428px;

    .console {
        position: relative;
        margin: 0 auto;
        padding-top: percentage($h/$w);

        background-image: url('../images/pygamer-777x457.png');
        background-size: contain;
        background-repeat: no-repeat;
        filter: drop-shadow(0 4px 8px rgba(#000, .5));

        .screen {
            position: absolute;
            left: percentage($sx/$w);
            top: percentage($sy/$h);
            width: percentage($sw/$w);
            height: percentage($sh/$h);
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid #000;
        }
    }
}

article.page .body .multicolumn {
    .gamebuino, .pygamer {
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    article.page .body .gamebuino,
    article.page .body .pygamer {
        width: 100%;
        // helpers
        &.w-50, &.w-75 { width: 100%; }
    }
}