// -------------------------------------------------------------------------
// cartouche global d'un article
// -------------------------------------------------------------------------

article.page {
    padding: 40px 60px;
    line-height: 1.75rem;
    text-align: justify;
    color: $page_text_color;

    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    article.page {
        padding: 20px 30px;
        line-height: 1.5rem;
    }
}

// -------------------------------------------------------------------------
// en-tête de l'article
// -------------------------------------------------------------------------

article.page header {
    h1 {
        margin-bottom: .25em;
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        line-height: 1.25em;
        color: #000;
    }
    
    h2 {
        margin-bottom: .25em;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.5rem;
        line-height: 1.25em;
        color: #777;
    }

    .date {
        color: #aaa;
        text-shadow: 0 1px 0 #fff;
    }
}

article.page .preamble {
    margin: 2em 0;
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.75em;
    color: #999;
}

@media screen and (max-width: 600px) {
    article.page {
        overflow-x: hidden;
    }
    article.page .preamble {
        margin: 1em 0;
        font-size: .9rem;
    }
}

// -------------------------------------------------------------------------
// corps de l'article
// -------------------------------------------------------------------------

article.page .body {

    hr {
        margin: 2rem 0 1.5rem 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #fff;
    }
    
    h1, h2, h3, h4, h5, h6 {
        margin: 1.25em 0 .75em 0;
        font-family: 'Roboto Condensed', sans-serif;
        line-height: 1.25em;
        color: #800;
        // border-bottom: 1px solid #800;
    }

    h1 { font-size: 1.75rem; border-bottom: 1px solid #800; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.25rem; }
    h4 { font-size: 1.25rem; color: #000; }
    h5 { font-size: 1.125rem; color: #000; }
    h6 { font-size: 1rem; font-weight: bold; color: #000; }

    h1 + h2,
    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 { margin-top: 0; }

    ul, ol {
        margin: .5em 0 .5em 2em;
        
        li {
            margin: .5em 0;
            line-height: 1.75em;

            &:first-child { margin-top: 0; }
        }
    }

    p {
        margin-bottom: .5em;
    }

    a {
        color: $page_link_color;
        border-bottom: 1px dotted $page_link_color;

        &:hover, &.active {
            border-bottom: 1px solid $page_link_color;
        }
    }

    strong { color: #222; }

    // --------------
    // helper classes
    // --------------
    .center   { text-align: center; }
    .discrete { color: lighten($page_text_color, 30); }
    .inlaid   { text-shadow: 0 1px 0 #fff; }
}

// -------------------------------------------------------------------------
// contenus multimedia
// -------------------------------------------------------------------------

article.page .body img {
    display: block;
    margin: 1.5em auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(#000, .3);

    // helpers
    &.sharp    { border-radius: 0; }
    &.noshadow { box-shadow: none; }
}

article.page .body .multicolum {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 2em;
    justify-items: center;

    &.c-3 { grid-template-columns: 1fr 1fr 1fr; }
    &.c-4 { grid-template-columns: 1fr 1fr 1fr 1fr; }

    &.middle { align-items: center; }
    &.bottom { align-items: end; }
    
    margin: 1.5em auto;

    img {
        margin: 0;
        width: 100%;
        object-fit: cover;
    }
}

article.page .body .youtube {
    position: relative;
    height: 0;
    margin: 1.5em auto;
    padding-bottom: 56.25%;

    // helper
    &.w-50 {
        width: 50%;
        padding-bottom: 28%;
    }
    
    // helper
    &.w-75 {
        width: 75%;
        padding-bottom: 42%;
    }
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(#000, .3);

        &.sharp {
            border-radius: 0;
        }

        &.noshadow {
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 600px) {
    article.page .body img {
        // helper
        &.w-50, &.w-75 {
            width: 100%;
        }
    }

    article.page .body .youtube {
        // helper
        &.w-50, &.w-75 {
            width: 100%;
            padding-bottom: 56.25%;
        }
    }
}

// -------------------------------------------------------------------------
// note importante
// -------------------------------------------------------------------------

article.page .body blockquote {
    $color: #8fd;
    margin: 1.5em auto;
    padding: .75em 1em .5em 1em;
    border-radius: 8px;
    background-color: rgba($color, .2);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    box-shadow: inset 0 1px 4px rgba(darken($color, 40), .5);
}

// -------------------------------------------------------------------------
// modification de l'occupation de l'espace horizontal
// -------------------------------------------------------------------------

// helpers
.w-50 { width: 50%; }
.w-75 { width: 75%; }

// -------------------------------------------------------------------------
// encadrement des blocs susceptibles de déborder sur plateformes mobiles
// -------------------------------------------------------------------------
// ce cas de figure peut survenir fréquemment avec des tableaux...
// il suffit alors d'encadrer le bloc de cette façon :
//
//     <div class="scrollable" markdown="1">
//     
//     le contenu Markdown à protéger
//     
//     </div>
//
// !!! Notez bien les sauts de lignes avant et après le contenu Markdown !!!
// -------------------------------------------------------------------------

// helper
article.page .body .scrollable {
    overflow-x: auto;
}

// -------------------------------------------------------------------------
// tableaux
// -------------------------------------------------------------------------

article.page .body table:not(.rouge-table) {
    $border_color: #888;

    margin: 1em auto 1.5em auto;
    border-collapse: collapse;
    border-spacing: 0;
    // border: 1px solid $border_color;
    empty-cells: show;
    background-color: $page_bgcolor;

    thead {
        // vertical-align: bottom;
        font-weight: bold;
        color: #222;
    }

    tbody tr:nth-child(odd) { background-color: darken($page_bgcolor, 3); }
    &.even tbody tr {
        &:nth-child(odd) { background: none; }
        &:nth-child(even) { background-color: darken($page_bgcolor, 3); }
    }
    &.nostrip tbody tr { background: none; }

    th { border-top: 1px solid $border_color; }

    th, td {
        padding: .2em 1em;
        border-bottom: 1px solid $border_color;
    }

    &.noline {
        th, td { border: none; }
    }
    
    // helper
    &.nowrap {
        th, td { white-space: nowrap; }
    }
}

// -------------------------------------------------------------------------
// blocs de code
// -------------------------------------------------------------------------

article.page .body {
    pre, code {
        font-family: 'Roboto Mono', sans-serif;
    }

    div.highlight, figure.highlight {
        margin: 1.5em 0;
        padding: .5em 1em;
        overflow-x: scroll;

        font-size: .8rem;
        line-height: 1.75em;

        border-radius: 8px;
        border-bottom: 1px solid #fff;

        .gutter {
            padding-right: 1em;
            text-align: right;
            color: rgba(#fff, .2);
        }
    }

    code.highlighter-rouge {
        color: #068;
    }
}