// -------------------------------------------------------------------------
// cartouche principal d'une page en simple colonnage
// -------------------------------------------------------------------------

.wrapper {
    width: 100%;
    margin-left: 0;
    border: none;
}

// -------------------------------------------------------------------------
// mise en forme du contenu
// -------------------------------------------------------------------------

.page {
    // padding: 40px 60px;
    padding-bottom: 3rem;
    line-height: 1.75rem;
    color: $page_text_color;
}

@media screen and (max-width: 600px) {
    .page {
        // padding: 20px 30px;
        line-height: 1.5rem;
    }
}

.topheading {
    margin: 3em 0;
    padding: 0 15%;
    text-align: center;
    
    h1.title {
        margin-bottom: .5rem;
        font-family: 'Teko', sans-serif;
        font-size: 2.5rem;
        text-transform: capitalize;
        color: #000;
    }
    
    h2.subtitle {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.5rem;
        line-height: 1.25em;
        color: #bbb;
    }
}

.notfound {
    margin-top: 60px;
    padding-top: 200px;
    min-width: 160px;
    min-height: 160px;
    background-image: url('../images/emoji-confused.png');
    background-size: 160px;
    background-position: top center;
    background-repeat: no-repeat;

    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.25em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    color: #bbb;
}

.heading {
    $height: 160px;

    position: relative;
    margin: 3em 0;
    width: 100%;
    height: $height;
    background-image: url('../images/printed-circuit-board.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: inherit;
        filter: grayscale(100%);
    }
    
    .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(#8000ff, 0.8) 0%, rgba(#bf80ff, 0.8) 100%);

        h1 {
            font-family: 'Oswald', sans-serif;
            font-size: 2.5rem;
            color: #fff;
            line-height: $height;
            text-align: center;
            text-transform: capitalize;
            text-shadow: 0 2px 2px rgba(#000, .5);
        }
    }
}

.panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;

    width: 75%;
    margin: 3em auto;

    list-style: none;

    li {
        display: flex;
        align-items: center;

        .icon {
            display: block;
            min-width: 64px;
            height: 64px;
            margin-right: 32px;
            border-radius: 12px;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 0 2px 4px rgba(#000, .25);

            &.adafruit    { background-image: url('../icons/adafruit.svg');  }
            &.blit        { background-image: url('../icons/32blit.svg');    }
            &.gamebuino   { background-image: url('../icons/gamebuino.svg'); }
            &.bigpewpew   { background-image: url('../icons/big-pew-pew.svg');  }
            &.smallpewpew { background-image: url('../icons/small-pew-pew.svg');  }
            &.pixelart    { background-image: url('../icons/pixelart.svg');  }
            &.tontons     { background-image: url('../icons/les-tontons-codeurs.svg');  }
        }

        .details {
            line-height: 1.75em;

            h1 {
                margin: .5rem 0;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 1.5rem;

                a {
                    transition: color .5s ease;
                    color: #8d66ff;
                    &:hover, &.active { color: #000; } // #8000ff;
                }
            }

            .publish {
                color: #aaa;
                text-shadow: 0 1px 0 #fff;
                
                .date:before {
                    margin-right: .5em;
                    font-family: "Font Awesome 5 Free";
                    content: '\f133';
                }

                .author {
                    margin-left: 1em;
                    color: #0ac;
                    // color: #a080ff;

                    &:before {
                        margin-right: .5em;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        // content: '\f007'; // user
                        content: '\f5ad'; // pen-nib
                    }
                }
            }

            .metadata {
                margin: .5rem 0;
                font-size: .8rem;
                line-height: 1em;

                li {
                    display: inline-block;
                    margin: 4px 4px 4px 0;
                    padding: 4px 6px;
                    border-radius: 4px;

                    color: #ffff;
                    text-shadow: 0 -1px 0 rgba(#000, .25);
                    box-shadow: 0 1px 2px rgba(#000, .25);

                    &.type     { background-color: #a00; }
                    &.platform { background-color: #333; }
                    &.lang     { background-color: #08d; }
                    &.tag      { background-color: #01999e; }
                }
            }

            .description {
                text-align: justify;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .topheading {
        h1.title { font-size: 2rem; }
        h2.subtitle { font-size: 1.1rem; }
    }

    .notfound {
        margin-top: 40px;
        padding-top: 100px;
        background-size: 80px;
        font-size: 1.1rem;
    }

    .heading {
        $height: 104px;

        height: $height;

        .container h1{
            font-size: 1.75rem;
            line-height: $height;
        }
    }

    .panel li {
        .icon { display: none; }
    }
}

a.button {
    display: inline-block;
    padding: .3em 1em;
    vertical-align: baseline;
    white-space: nowrap;
    
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;
    
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background-color: #6f55d5;
    background-image: linear-gradient(#6f55d5, #5739ce);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.12);

    &:hover {
        background-image: none;
    }
}