<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/home.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/single.css">
    {% include favicons.html %}
</head>

<body>

    {% include navigation.html %}
    
    <div class="wrapper">
        
        {% include home-header.html %}

        <main class="page">

            {% comment %}
            -----------------------------------------------------------
            L'en-tête de la page
            -----------------------------------------------------------
            {% endcomment %}

            <div class="topheading">
                <h1 class="title">{{ site.title }}</h1>
                <h2 class="subtitle">Nous partageons avec vous nos expérimentations et réalisations</h2>
            </div>

            {% comment %}
            -----------------------------------------------------------
            Les derniers posts
            -----------------------------------------------------------
            {% endcomment %}

            <div class="heading">
                <div class="container">
                    <h1>Nos derniers bulletins</h1>
                </div>
            </div>
                
            {% include last-articles.html collection=site.posts %}

            <p class="center"><a class="button" href="#">Tous nos bulletins</a></p>

            {% comment %}
            -----------------------------------------------------------
            Les derniers contenus pédagogiques
            -----------------------------------------------------------
            {% endcomment %}

            <div class="heading">
                <div class="container">
                    <h1>Nos derniers tutoriels</h1>
                </div>
            </div>

            {% include last-articles.html collection=site.tutos %}

            <p class="center"><a class="button" href="#">Tous nos tutoriels</a></p>

            {% comment %}
            -----------------------------------------------------------
            La page d'accueil n'a pas de contenu particulier a priori
            {{ page.content }}
            -----------------------------------------------------------
            {% endcomment %}

        </main>

    </div>
    
    {% include footer.html %}

</body>

</html>